/*StyleSheet*/


*{
    font-family: Roboto;
}

body{
    margin: 0;
}

header {
    background-color: #1F2937;
    color: #F9FAF8;
    margin: auto 0;
    padding: 10px 50px 100px;
   
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

nav h2{
    font-size: 24px;
    font-weight: 500;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

nav ul {
    justify-content: flex-end;
}

nav li {
    margin: 0 10px;
    font-size: 18px;
    font-weight: 300;
}

.HContent{
    display: flex;
    justify-content: space-between;
}

.HContent img{
    margin: 10px;
}

.HText{
    margin: 10px 40px 10px 0;
    font-size: 16px;
    font-weight: 300;
}

button{
    background-color: #3882F6;
    color: #F9FAF8;
    margin: auto 0;
    padding: 5px 20px;
    border-radius: 10px;
    border: 1px solid #F9FAF8;
}

#heroInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 10px 50px 100px;
}

#heroInfo ul {
    justify-content: space-evenly;
    gap: 20px;
}

#heroInfo li{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 20px;
      
}

#heroInfo img{
    margin: 10px;
    border-radius: 15px;
    border: 3px solid #3882F6;
    
}


#heroInfo p {
    margin: auto;
    text-align: center;
    width: 120px;
    font-weight: 200;
    font-size: 14px;
}

#quote{
   background-color: #E5E7EB; 
   margin: auto;
   padding: 100px 200px;

}

#quote p{
    font-size: 30px;
    font-weight:100;
}

#quote h4{
    text-align: right;
}

#callToAction{
    background-color: #3882F6 ;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    margin: 200px 100px;
    padding: 20px 50px;
    border-radius: 25px;
    font-weight: 200;
}

footer{
    margin: auto 0;
    text-align: center;
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 10px 0 ;
    font-weight: 300;
}